.home_page {
  padding: 20px;

  &__title {
    color: dodgerblue;
  }

  &__paragraph {
    display: inline-block;
    padding: 10px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
  }
}


