:root[data-theme="light"] {
    // MAIN
    --background-color: #f0f0f0;
    --text-color: #000;

    // BUTTON
    --primary-btn-bg: darkslateblue;
    --primary-btn-color: white;
    --secondary-btn-bg: darkslategrey;
    --secondary-btn-color: white;

}

:root[data-theme="dark"] {
    // MAIN
    --background-color: #282828;
    --text-color: #fff;

    // BUTTON
    --primary-btn-bg: hotpink;
    --primary-btn-color: white;
    --secondary-btn-bg: aquamarine;
    --secondary-btn-color: white;
}